## INFORMATION ABOUT COLUMNS AND ROWS DROPPED
Columns to drop:
Unnamed: 0  - Same index
firstName  -I already have this information in the competitor name column
lastName   -I already have this information in the competitor name column
status - no relevan for my analysis
postCompStatus - non info
gender - this analysis is only for the femela competitors, therefore all are Female
profilePicS3key - image, no relevan for my analysis
countryShortCode - non info
regionId - same as regionName
affiliateId - no relevand for my analysis
scoreIdentifier - no relevand for my analysis
scoreIdentifier.1 - no relevand for my analysis
scoreIdentifier.2 - no relevand for my analysis
scoreIdentifier.3 - no relevand for my analysis
mobileScoreDisplay - non info
mobileScoreDisplay.1 - non info
mobileScoreDisplay.2 - non info
mobileScoreDisplay.3 - non info
heat - non info
lane - non info
heat.1 - non info
lane.1 - non info
heat.2 - non info
lane.2 - non info
heat.3 - non info
lane.3 - non info
time.3 - non info, because that WOD was not measure in time but in repetitions
time','time.1','time.2' - The same info as but in seconds: 'scoreDisplay','scoreDisplay.1','scoreDisplay.2'
Total columns to drop 30

Rows to drop:

valid 14334 scoreDisplay 14334 valid.1 18105 scoreDisplay.1 18105 valid.2 27836 scoreDisplay.2 27836 valid.3 28278 #difference btw the Valid.3 and scoreDisplay.3 is because the value is zero, or empty in scoreDisplay.3. scoreDisplay.3 27807 #Therefore, no validation was done and it was filled by the data as a NaN value in valid.3

I decided to use dropna subset how 'any'

In [ ]:
import pandas as pd
import numpy as np
import re

## DATA2021

In [ ]:
data21=pd.read_csv('data_open_2021.csv', low_memory=False)

In [ ]:
data21

In [ ]:
#columns:
data21.drop(['Unnamed: 0', 'firstName','lastName','status','postCompStatus','gender','profilePicS3key','countryShortCode','regionId','affiliateId','scoreIdentifier','scoreIdentifier.1','scoreIdentifier.2','scoreIdentifier.3','mobileScoreDisplay','mobileScoreDisplay.1','mobileScoreDisplay.2','mobileScoreDisplay.3','heat','heat.1','heat.2','heat.3','lane','lane.1','lane.2','lane.3', 'time', 'time.1', 'time.2', 'time.3'],axis=1, inplace=True)

#rows:
data21.dropna(subset=['valid','scoreDisplay','valid.1','scoreDisplay.1','valid.2','scoreDisplay.2','valid.3','scoreDisplay.3'], how='any', inplace=True)

#code for checking the diference btw valid.3 and scoreDisplay.3 for deciding if drop or needed to filling with a value
condition1=df['scoreDisplay.3'].isna()
condition2=df['valid.3'].isna()
pd.DataFrame(condition1)
pd.DataFrame(condition2)
a=pd.concat([condition1,condition2], axis=1)
condition=((a['scoreDisplay.3'].isin([False])) & (a['valid.3'].isin([True])))
a[condition]
data21.loc[105590]

## DATA2022

In [ ]:
data22=pd.read_csv('data_open_2022.csv', low_memory=False)

In [ ]:
data22.info()

In [ ]:
# I drop the same columns for data21 adding: 'judge_user_id','judge_user_id.1','judge_user_id.2'. That wasn't the last year
data22.drop(['Unnamed: 0', 'firstName','lastName','status','postCompStatus','gender','profilePicS3key','countryShortCode','regionId','affiliateId','scoreIdentifier','scoreIdentifier.1','scoreIdentifier.2','mobileScoreDisplay','mobileScoreDisplay.1','mobileScoreDisplay.2','heat','heat.1','heat.2','lane','lane.1','lane.2', 'time', 'time.1', 'time.2','judge_user_id','judge_user_id.1','judge_user_id.2'],axis=1, inplace=True)

# I drop the same rows for data21, omitting valid.3 and scoreDisplay.3 because they were only 3 exercises.
data22.dropna(subset=['valid','scoreDisplay','valid.1','scoreDisplay.1','valid.2','scoreDisplay.2'], how='any', inplace=True)

## DATA2023

In [ ]:
data23=pd.read_csv('data_open_2023.csv', low_memory=False)

In [ ]:
data23.isna().sum()

In [ ]:
# I drop the same columns for data21 adding: 'judge_user_id','judge_user_id.1','judge_user_id.2'. That wasn't the last year
data23.drop(['Unnamed: 0', 'firstName','lastName','status','postCompStatus','gender','profilePicS3key','countryShortCode','regionId','affiliateId','scoreIdentifier','scoreIdentifier.1','scoreIdentifier.2','scoreIdentifier.3','mobileScoreDisplay','mobileScoreDisplay.1','mobileScoreDisplay.2','mobileScoreDisplay.3','heat','heat.1','heat.2','heat.3','lane','lane.1','lane.2','lane.3', 'time', 'time.1', 'time.2','time.3','judge_user_id','judge_user_id.1','judge_user_id.2','judge_user_id.3'],axis=1, inplace=True)

# I drop the same rows for data21,
data23.dropna(subset=['valid','scoreDisplay','valid.1','scoreDisplay.1','valid.2','scoreDisplay.2','valid.3','scoreDisplay.3'], how='any', inplace=True)

## Concatenating data21,data22,data23 - vertically

In [ ]:
data=pd.concat([data21, data22, data23])

In [ ]:
#I use Fillna for filling the NaN values for the one-less-WOD in 2022 and for the Afiliate name I enter "no afiliate"
data[(['ordinal.3','rank.3','score.3','valid.3','scoreDisplay.3','scaled.3','video.3','breakdown.3'])]=data[(['ordinal.3','rank.3','score.3','valid.3','scoreDisplay.3','scaled.3','video.3','breakdown.3'])].fillna('only 3-WOD for 2023')
data['affiliateName']=data['affiliateName'].fillna('no name of gym entered')
data['height']=data['height'].fillna('0')
data['weight']=data['weight'].fillna('0')

#I decided to drop the columns related to the judges because the information there is not relevant for my case.
data.drop(['judge','affiliate','judge.1','affiliate.1','judge.2','affiliate.2','judge.3','affiliate.3'], axis=1, inplace=True)
data.dropna(subset=['breakdown','breakdown.1', 'breakdown.2'], how='any', inplace=True)


#The name for the code 'RU'/'BY' that stand for "Russia"/"Belarus", was not in the list of the Origin Name, so I input it:
data['countryOfOriginName'] = [ name if code !="RU" else "Russia" for code, name in zip(data['countryOfOriginCode'].values, data['countryOfOriginName'].values)]
data['countryOfOriginName'] = [ name if code !="BY" else "Belarus" for code, name in zip(data['countryOfOriginCode'].values, data['countryOfOriginName'].values)]

#After using the countryOfOriginCode for completing the countryOfOriginName NaN values. I decided to drop it, because I have the same info in both
data.drop(['countryOfOriginCode'], axis=1, inplace=True)

In [ ]:
data.duplicated().any() # False

In [ ]:
data.columns=['final_rank', 'points', 'competitor_Id', 'competitor_name', 'country',
       'region_name', 'division_Id', 'affiliate_name', 'age', 'height_cm', 'weight_kg',
       'team_captain', 'wod_1', 'wod_rank_1', 'wod_score_1', 'valid_1', 'wod_scoreDisplay_1',
       'wod_scaled_1', 'wod_video_1', 'wod_breakdown_1', 'wod_2', 'wod_rank_2', 'wod_score_2',
       'valid_2', 'wod_scoreDisplay_2', 'wod_scaled_2', 'wod_video_2', 'wod_breakdown_2',
       'wod_3', 'wod_rank_3', 'wod_score_3', 'valid_3', 'wod_scoreDisplay_3',
       'wod_scaled_3', 'wod_video_3', 'wod_breakdown_3', 'wod_4', 'wod_rank_4', 'wod_score_4',
       'valid_4', 'wod_scoreDisplay_4', 'wod_scaled_4', 'wod_video_4', 'wod_breakdown_4',
       'year']

data.drop(['valid_1','valid_2','valid_3','valid_4','wod_1','wod_2','wod_3','wod_4'], axis=1, inplace=True)
data['competitor_name']=data['competitor_name'].apply(str)
data['height_cm']=data['height_cm'].apply(lambda x: str(x))
data['weight_kg']=data['weight_kg'].apply(lambda x: str(x))
data['wod_score_1']=data['wod_score_1'].apply(lambda x: str(x)[:-4])
data['wod_score_2']=data['wod_score_2'].apply(lambda x: str(x)[:-4])
data['wod_score_3']=data['wod_score_3'].apply(lambda x: str(x)[:-4])

In [ ]:
data

In [ ]:
data.sort_values(by=['final_rank'], ignore_index=True,inplace=True)

In [ ]:
data=data.iloc[:100000]
df=data.copy()

In [ ]:

def clean_height(value):
    if 'in' in value:
        value=(int(re.sub(r'\D','',value)))*2.54
        value=round(value,2)
        return value
    elif 'cm' in value:
        value=(int(re.sub(r'\D','',value)))
        value=round(value,2)
        return value
    else:
        value=int(value)
        return value

def clean_weight(value):
    if 'lb' in value:
        value=(int(re.sub(r'\D','',value)))/2.205
        value=round(value,2)
        return value
    elif 'kg' in value:
        value=(int(re.sub(r'\D','',value)))
        value=round(value,2)
        return value
    else:
        value=int(value)
        return value


df['height_cm']=df['height_cm'].apply(clean_height)
df['weight_kg']=df['weight_kg'].apply(clean_weight)

In [ ]:
df.to_csv('dataclean_open_21_22_23.csv',index=False)